<!doctype html>
<html>
  <head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
  <body>
    {% if error %}
    	<script>alert("Invalid input. Must be a valid Python Github URL and option (e.g. '-g=5).")</script>
    {% endif %}
    <form method="POST">
        <p>GitHub URL: <input name="gh_url"></p>
        <p>granularity: <input type=number name="granularity"></p>
        <input type="submit">
    </form>
    <br>
    {% if path %}
      <img width=50% height=auto border=2 src={{path}} href={{path}} target=_blank>
    {% endif %}
  </body>
</html>
